:root{
    --light-pink-theme: #FFEBFF;
    --orange-theme: #ff6634;
    --dark-theme: #1F2131;
}
body{
    font-family: "Montserrat";
    font-weight: 500;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.navbar{
    background-color: #ffffff;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
    border-radius: 0;
    margin-bottom: 0;
}
.nav{
    display: flex;
    align-items: center;
}
.nav li a{
    padding-top: 9px;
}
.nav li{
    margin-right: 40px;
}
.nav li.nav-list a{
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-top: 14px;
    color: #555555 !important;
    font-weight: 500;
}
.nav li.active a{
    color: #222222 !important;
    background-color: #fff !important;
}
.nav-btn{
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border: 1px solid var(--orange-theme) !important;
    color: var(--orange-theme) !important;
    border-radius: 4px;
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.hero{
    max-width: 100%;
    margin: 0;
    height: calc(100vh - 83px);
    background-color: var(--light-pink-theme);
}
.hero-title{
    font-weight: 900;
    font-size: 40px;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 8%;
    line-height: 48.76px
}
.hero-title + h5{
    font-size: 16px;
    padding-left: 100px;
    margin-top: 8px;
    line-height: 19.5px;
    padding-right: 12%;
    color: #747474;
}
.hero-search{
    padding-left: 100px;
    padding-right: 30px;
    position: relative;
    margin-top: 18px;
}
.hero-search input{
    outline: none;
    border: none;
    height: 72px;
    width: 100%;
    padding-left: 24px;
    font-size: 17px;
    border-radius: 4px;
}
.hero-search input::placeholder{
    font-size: 17px;
    color: #DEDEDE;
}
.hero-search button{
    background-color: var(--orange-theme);
    border: none;
    outline: none;
    width: 133px;
    height: 58px;
    padding-left: 18px;
    padding-right: 18px;
    color: #ffffff;
    position: absolute;
    border-radius: 4px;
    right: 38px;
    top: 7px;
}

.hero-search2{
    /* padding-left: 100px; */
    padding-right: 30px;
    position: relative;
    margin-top: 18px;
    display: flex;
}
.hero-search2 input{
    outline: none;
    border: none;
    height: 54px;
    width: 75%;
    padding-left: 24px;
    font-size: 17px;
    border-radius: 4px;
}
.hero-search2 input::placeholder{
    font-size: 15px;
    color: #DEDEDE;
}
.hero-search2 button{
    background-color: var(--orange-theme);
    border: none;
    outline: none;
    width: 133px;
    height: 58px;
    padding-left: 18px;
    padding-right: 18px;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 12px
}

.hero-search + p{
    padding-left: 100px;
    font-size: 16px;
    margin-top: 24px;
}
.hero-search + p a{
    color: var(--orange-theme)
}
.hero blockquote{
    font-size: 14px;
    padding-left: 100px;
    padding-right: 200px;
    margin-top: 50px;
    position: relative;
    line-height: 17.07px;
    color: #8D8D8D;
    border-left: 0;
}

.hero blockquote .quote-1{
    position: absolute;
    left: 55px;
}

.hero blockquote .quote-2{
    position: absolute;
    right: 200px;
    bottom: 0;
}
  .hero-right{
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-image: url("./assets/hero-intro.svg");
      background-size: contain;
      background-repeat: no-repeat;
  }
  .hero-right .hero-image{
      width: 105%;
      right: 50px;
      position: absolute;
      bottom: 0;
  }
  .relative{
      position: relative;
  }
  .hero-right .comment{
      width: 263px;
      min-height: 146.37px;
      font-size: 12px;
      border-radius: 4px;
      background-color: #fff;
      position: absolute;
      left: -100px;
      bottom: 40px;
      z-index: 100;
  }
  .hero-right .comment-rating{
      display: flex;
      align-items: center;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 18px;
  }
  .hero-right .comment-body{
      padding-left: 18px;
      padding-right: 18px;
  }
  .hero-right .comment-body p{
      font-size: 13px;
      color: #8D8D8D;
      margin-top: 12px;
  }

  /* ***************8 */
  .section-two-pad-left{
      padding-top: 6%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .comment{
    width: 320px;
    min-height: 225px;
    padding-bottom: 18px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 1px 3px lightgray;
    border: 1px solid #f5f1f1;
    z-index: 100;
}
.comment-rating{
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
}
.comment-body{
    padding-left: 18px;
    padding-right: 100px;
}
.comment-body p{
    font-size: 13px;
    color: #8D8D8D;
    margin-top: 12px;
}

.hero-right .comment-img{
    width: 42px;
    height: 42px;
}
.flex{
    display: flex;
}
.comment-username{
    margin: 0 !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding-left: 8px;
}
.comment-role{
    margin: 0 !important;
    padding-left: 8px;
}

.bar-rating{
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 28%;
    left: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.num-rating{
    width: 84px;
    height: 84px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 32%;
    right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-rating svg{
    width: 36px;
}

.section-two{
    width: 100%;
    min-height: 100vh;
    padding-top: 6%;
    padding-bottom: 6vh;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #fff;
}
.section-two h3{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}
.section-two h3 + p{
    font-size: 15px;
    text-align: center;
    color: #888888;
}
.swiper{
    height: 100vh !important;
}
.swiper-pagination{
    bottom: 0 !important;
}
.section-three{
    background-color: #F8F8F8;
    height: 380px;
}
.section-three .row{
    padding-left: 120px;
    padding-top: 6%;
}
.section-three .hero-search{
    padding-left: 0 !important;
}
.section-three h3{
    font-weight: 700;
    font-size: 29px;
}
.section-three p{
    font-size: 14px;
    line-height: 21px;
    padding-right: 140px;
    color: #888888;
}
.section-four{
    width: 100%;
    height: 100px;
    background-color:  #FEFEFE;
    border-bottom: 1px solid #D6D6D6;
}
.section-four .row{
    margin-top: 16px;
}
.section-five{
    width: 100%;
    min-height: 95vh;
    padding-bottom: 8vh;
}
.section-five .row{
    padding-left: 100px;
    padding-right: 100px;
}
.section-five .advert{
    width: 350.62px;
    height: 317.69px;
    background-color:#FBFBFB;
    border: 1px solid #D6D6D6;
    margin-top: 16vh;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.section-five .advert p{
    font-weight: 700;
    color: #C2C2C2;
}
.get-started{
    width: 100%;
    height: 188px;
    border-radius: 8px;
    background-color: #FFEBFF;
    margin-top: 12vh;
}
.get-started h4{
    font-weight: 600;
    margin-top: 8vh;
    padding-left: 6%;
    font-size: 25px;
    line-height: 30.48px;
}
.get-started-right{
    height: 100%;
    background-image: url("./assets/Rectangle\ 39.png");
    display: flex;
    align-items: center;
    justify-content: center;
}
.orange-btn{
    background-color: var(--orange-theme);
    border: none;
    outline: none;
    height: 54px;
    padding-left: 24px;
    padding-right: 24px;
    color: #ffffff;
    border-radius: 4px;
}
.footer{
    background-color: #1F2131;
    width: 100%;
    height: 65vh;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 16vh;
}
.footer-description{
    color: #C2C2C2;
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.social-container a{
    margin-left: 8px;
    margin-right: 8px;
}
.copyright{
    margin-top: 10vh;
}
.footer-nav-container{
    padding-left: 65px;
    padding-right: 65px;
    line-height: 32px;
}
.footer-nav h4{
    color: #C2C2C2;
    font-size: 15px;
}
.footer-nav a{
    display: block;
    color: #888888;
    font-size: 12.5px;
}

@media screen and (max-width: 500px){
    .hero-title{
        padding-left: 16px;
        padding-right: 16px;
        font-size: 45px;
        line-height: 45px;
    }
    .hero-title + h5,
    .hero-search,
    .hero blockquote,
    .hero-search + p,
    .section-two,
    .section-three .row{
        padding-left: 16px;
        padding-right: 16px;
    }
    .hero-right .hero-image{
        margin-bottom: 32vh;
        position: relative;
    }
    .hero-right .comment{
        left: 12%
    }
    
    .section-three .row svg{
        display: none;
    }
    .section-four{
        height: auto;
        padding-bottom: 24px;
    }
    .section-four img{
        width: 70%;
    }
    .section-five{
        height: auto;
    }
    .section-five .row{
        padding-left: 16px;
        padding-right: 16px;
    }
    .footer{
        height: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .hidden-xs{
        display: none;
    }
}

html{
    overflow-x: hidden;
}